<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>관리자 페이지</title>
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <script src="/js/index/Index.js" defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js" defer></script>
</head>

<body>

  <div id="all-container-wrap" th:replace="/common/leftWrap :: left-wrap"></div>
  <!--왼쪽 메뉴바-->

  <!--오른쪽 컨테이너-->
  <div class="right-wrap">
    <div class="right-menu">
      <div class="right-con">

        <div class="main-container">
          <div class="myMenuContainer">
            <button type="button" class="myMenuBtn"><img src="/img/menu.png" alt="">마이메뉴</button>
          </div>

          <div class="myMenuContainer-content">
            <ul>
              <!-- 출근누르면 업무종료로 변경 -->
              <li><a href="#" id="workStatusCon"><img src="/img/stamp.png" alt="">
                <div id="workStatus">업무 시작</div>
              <li><a href="#"><img src="/img/user.png" alt="">내 정보</a></li>
              <li><a href="#"><img src="/img/clock.png" alt="">출결 관리</a></li>
            </ul>
            <ul>
              <li><a th:href="@{/memo/all}"><img src="/img/drawer.png"
                                                                          alt="">결재문서</a></li>
              <li><a href="#"><img src="/img/clipboard.png" alt="">업무 관리</a></li>
              <li><a th:href="@{/board}"><img src="/img/megaphone.png" alt="">게시판 관리</a></li>
            </ul>

          </div>

          <div class="main">
            <div class="main-grid">
              <ul>

                <li>
                  <div class="first-container">
                    <ul>
                      <li>data1</li>
                      <li>data1</li>
                    </ul>
                    <ul>
                      <li>data2</li>
                      <li>data2</li>
                    </ul>
                  </div>
                </li>

                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--오른쪽 컨테이너-->
</div>

</body>

</html>