<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/MemorandumDetail.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js" defer></script>
    <link rel="stylesheet" href="/css/memorandum/MemorandumDetail.css">
    <title>Document</title>
</head>

<body>
    <div id="all-container-wrap">

        <!--왼쪽 메뉴바-->
        <div class="left-wrap">

            <div class="left-menu">
                <div class="left-con">
                    <h1 class="logo"><a href="#"><img src="/img/logo.png" alt="logo"></a></h1>

                    <div class="dash-board">
                        <h3 class="title">DASHBOARD</h3>

                        <div class="menu">
                            <!--이 부분에 들어갈 항목은 어떤 기업인지에 따라 달라짐-->

                            <ul>
                                <!--메뉴 리스트-->
                                <li class="menu-worker">
                                    <img src="/img/worker.png" alt="worker"><a href="#">사원관리</a>
                                    <ul class="menu-worker-sub">
                                        <li><a href="#">사원조회</a></li>
                                        <li><a href="#">사원등록</a></li>
                                        <li><a href="#">사원삭제</a></li>
                                    </ul>
                                </li>

                                <li class="menu-pay">
                                    <img src="/img/pay.png" alt=""><a href="#">급여관리</a>
                                </li>

                                <li class="menu-dal">
                                    <img src="/img/dal.png" alt=""><a href="#">근태관리</a>
                                </li>

                                <li class="menu-depart">
                                    <img src="/img/depart.png" alt=""><a href="#">부서관리</a>
                                </li>

                                <li class="menu-board">
                                    <img src="/img/board.png" alt=""><a href="#">게시판</a>
                                </li>

                                <li class="menu-sign">
                                    <img src="/img/sign.png" alt=""><a href="#">결재관리</a>
                                </li>

                                <li class="menu-store">
                                    <img src="/img/store.png" alt=""><a href="#">영업점관리</a>
                                </li>

                                <li class="menu-login">
                                    <img src="/img/login.png" alt=""><a href="#">LOGIN</a>
                                </li>

                            </ul>
                        </div>

                        <div class="naver-api">
                            <img src="/img/naver.png" alt="naver-logo"><a href="#">NAVER WORKPLACE</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!--왼쪽 메뉴바-->

        <!--오른쪽 컨테이너-->
        <div class="right-wrap">
            <div class="right-menu">
                <div class="right-con">

                    <!--오른쪽 컨테이너-->

                    <div class="boardDetail-container">
                        <div class="boardDetail">
                            <div class="detail-box">

                                <div class="box-top">
                                    <h3>결재문서 상세 내용</h3>
                                </div>

                                <div class="box-middle">
                                    <table>
                                        <colgroup>
                                            <col width="15%">
                                            <col width="auto">
                                            <col width="15%">
                                            <col width="auto">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <td colspan="4">
                                                    <span><img src="/img/board/board.png" alt=""></span>
<!--                                                    결재문서 제목-->
                                                    <span th:text="${detailMemo.memorandumTitle}"></span>
<!--                                                    결재 문서 ID (숨김 처리)-->
                                                    <input th:value="${detailMemo.memorandumId}" hidden="hidden" class="currentMemoId">
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>승인여부</th>
                                                <td th:text="${detailMemo.approval}"></td>
                                            <tr>
<!--                                                등록일 오류남. 수정 필요-->
                                                <th>등록일</th>
<!--                                                <td colspan="3" th:text="*{#temporals.format(detailMemo.createTime, 'yyyy-MM-dd HH:mm:ss')}">-->
                                                </td>
                                            </tr>
                                                <th><a th:href="@{|/memo/updateMemoPage/${detailMemo.memorandumId}|}">수정하기</a></th>
                                            </tr>
                                            <tr>
<!--                                                결재 문서 내용-->
                                                <td colspan="4">
                                                    <input th:value="${detailMemo.memorandumContent}">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

<!--                                    결재 문서에 첨부된 파일 리스트-->
                                    <div class="box-bottom">

                                        <!--        파일 다운로드 하기 위해서, 파일을 받아옴-->
                                        <div th:each="file : ${fileInDetailMemo}" class="FileListContainer">
                                            <a th:href="|/memo/file/attach/${file.memorandumFileId}|"
                                                th:text="${file.memorandumFileOriginalName}"></a>
                                            <input hidden="hidden" th:value="${file.memorandumFileId}"
                                                class="numberOfFile">
                                            <button class="deleteFile">Delete</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>