<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
<div id="all-container-wrap" th:fragment="left-wrap">

    <!--왼쪽 메뉴바-->
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <script src="/js/leftWrap/leftWrap.js" defer></script>
    <div class="left-wrap">

      <div class="left-menu">
        <div class="left-con">
          <h1 class="logo"><a th:href="@{/index}"><img src="/img/logo.png" alt="logo"></a></h1>

          <div class="dash-board">
            <h4>DASHBOARD</h4>
            <!--                    현재 시간-->
            <div class="currentTime" style="color:white; margin-left:10px;"></div>
            <div class="menu">
              <!--이 부분에 들어갈 항목은 어떤 기업인지에 따라 달라짐-->

              <ul>
                <!--메뉴 리스트-->
                <li class="menu-worker">
                  <img src="/img/worker.png" alt="worker"><a href="#">사원관리</a>
                  <ul class="menu-worker-sub">
                    <li><a th:href="@{/police/list}">사원조회</a></li>
                    <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/police/insert}">사원등록</a></li>

                  </ul>
                </li>

                <li class="menu-pay">
                  <img src="/img/pay.png" alt=""><a href="#">급여관리</a>
                </li>

                <li class="menu-dal">
                  <img src="/img/dal.png" alt=""><a href="#">근태관리</a>
                </li>

                <li class="menu-depart">
                  <img src="/img/depart.png" alt=""><a th:href="@{/dept/list}">부서관리</a>
                </li>

                <li class="menu-board">
                  <img src="/img/board.png" alt=""><a th:href="@{/board}">게시판</a>
                  <ul>
                    <li sec:authorize="hasRole('ADMIN')"><a th:href="@{boardWrite}">게시글 등록</a></li>
                  </ul>
                </li>

                <li class="menu-sign">
                  <img src="/img/sign.png" alt=""><a th:href="@{/memo/all}">결재관리</a>
                </li>

                <li class="menu-event">
                  <img th:src="@{/img/event.png}" alt=""><a th:href="@{/event/}">사건관리</a>
                  <ul>
                    <li><a th:href="@{/event/}">사건·사고관리</a></li>
                    <li><a th:href="@{/event/register}">사건등록</a></li>
                    <li><a th:href="@{/event/myevent}">나의사건</a></li>
                  </ul>
                </li>

                <li class="menu-calendar">
                  <img src="/img/calendar.png" alt=""><a th:href="@{/my/schedule/list}">전체 일정</a>
                </li>

                <li class="menu-login" sec:authorize="isAnonymous()">
                  <img src="/img/login.png" alt=""><a href="/login">LOGIN</a>
                </li>
                <li class="menu-login" sec:authorize="isAuthenticated()">
                  <img src="/img/login.png" alt=""><a href="/logout">LogOut</a>
                </li>

              </ul>
            </div>

            <div class="api">
              <ul>
                <li>
                  <img src="/img/naver.png" alt="naver-logo"><a href="#">NAVER WORKPLACE</a>
                </li>
                <li>
                  <img src="/img/weather.png" alt="weather-icon"><a th:href="@{/my/weather}">날씨조회</a>
                </li>
                <li>
                  <img src="/img/lost.png" alt="lostItem-icon"><a th:href="@{/my/lostGoods}">분실물조회</a>
                </li>
                <li>
                  <img src="/img/bus.png" alt="lostItem-icon"><a th:href="@{/my/bus}">버스정류장조회</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
</body>

</html>
