@import url(/css/common/leftWrap.css);
@import url(/css/common/reset.css);

.dept-insert-container {
    width: 100%;
    height: 100vh;
}

.dept-insert-container .container-con{
    width: 100%;
    height: 100%;
    border: 5px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.dept-insert-container .container-con .insert-form .form-head{
    background-color: #003478;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.dept-insert-container .container-con .insert-form{
    width: 30%;
    border: 5px solid seagreen;
}

.dept-insert-container .container-con .insert-form .form-text{

}
    
.dept-insert-container .container-con .insert-form .form-text .li-select{
    width: 30%;
}
