@import url(/css/common/leftWrap.css);
@import url(/css/common/reset.css);

.dept-container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 30px 80px 30px 30px;
}

.dept-container .dept-container-con {
	width: 100%;
	height: 100%;
	/* border: 1px solid;
	box-sizing: border-box; */
}

.dept-container .dept-container-con .dept-form {
	width: auto;
	height: 100%;
	border-top: 2px solid #003478;
	border-bottom: 2px solid #003478;
	box-sizing: border-box;
	/* margin: 0 15px; */
	padding: 10px 10px;
	background-color: #ffffff;
}
.dept-container .dept-container-con .dept-form .dept-h1 {
	/* border: 4px solid violet; */
	box-sizing: border-box;
	padding: 10px;
	background-color: #003478;
	color: white;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
}
.dept-container .dept-container-con .dept-form .dept-insert-button {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	box-sizing: border-box;
}
.dept-container .dept-container-con .dept-form .dept-insert-button img {
	transform: translateY(3px);
}
.dept-container .dept-container-con .dept-form .dept-insert-button button {
	border: none;
	background-color: #003478;
	color: #ffffff;
	padding: 3px;
	border-radius: 5px;
	cursor: pointer;
	box-sizing: border-box;
}
.dept-container
	.dept-container-con
	.dept-form
	.dept-insert-button
	button:hover {
	background-color: #ad0000;
	color: #ffffff;
	cursor: pointer;
}
.dept-container .dept-container-con .dept-form .dept-insert {
	padding: 0 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.dept-container .dept-container-con .dept-form .dept-insert form {
	border: 2px solid #b2b2b2;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
}
.dept-container .dept-container-con .dept-form .dept-insert form ul {
	display: flex;
	gap: 5px;
}
.dept-container .dept-container-con .dept-form .dept-insert form ul li label {
	font-size: 14px;
}
.dept-container
	.dept-container-con
	.dept-form
	.dept-insert
	form
	ul
	li:nth-child(1) {
	width: 280px;
}
.dept-container
	.dept-container-con
	.dept-form
	.dept-insert
	form
	ul
	li:nth-child(1)
	input {
	width: 83%;
	padding: 3px;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #cccccc;
}
.dept-container
	.dept-container-con
	.dept-form
	.dept-insert
	form
	ul
	li:nth-child(2) {
	width: 1035px;
}
.dept-container
	.dept-container-con
	.dept-form
	.dept-insert
	form
	ul
	li:nth-child(2)
	input {
	width: 94%;
	padding: 3px;
	box-sizing: border-box;
	border-radius: 3px;
	border: 1px solid #cccccc;
}

.dept-container
	.dept-container-con
	.dept-form
	.dept-insert
	form
	ul
	.insert-btn
	button {
	border: none;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	box-sizing: border-box;
	background-color: #e7e7e7;
	font-weight: bold;
}
.dept-container .dept-container-con .dept-form .dept-form-data {
	display: flex;
	justify-content: center;
	padding: 0 10px;
	box-sizing: border-box;
}

.dept-container .dept-container-con .dept-form table {
	border-top: 1px solid;
	border-bottom: 1px solid;
	width: 100%;
	border-collapse: collapse;
}

.dept-container .dept-container-con .dept-form thead > tr > th {
	font-size: 14px;
	padding: 13px;
	box-sizing: border-box;
	border-bottom: 1px solid;
	background-color: #e9e7e7;
}

.dept-container .dept-container-con .dept-form tbody > tr > td {
	text-align: center;
	/* border: 1px solid; */
	border-bottom: 1px solid #d1cfcf;
	padding: 12px;
	box-sizing: border-box;
}
.dept-container .dept-container-con .dept-form tbody > tr > td .dept-btn{
    display : flex;
}
.dept-container .dept-container-con .dept-form tbody > tr > td .dept-btn > button{
    background-color : #003478;
    border-radius : 5px ;
    color : white;
    padding : 2px 5px;
    border: none;
    cursor: pointer;
    margin : 2px;
}
.dept-container .dept-container-con .dept-form tbody > tr > td .dept-btn > button a{
    color: white;
}

.dept-container .dept-container-con .dept-form tbody > tr > td .dept-btn > form > button{
    background-color : #003478;
    border-radius : 5px ;
    color : white;
    padding : 2px 5px;
    border: none;
    cursor: pointer;
    margin : 2px;
}
.dept-container .dept-container-con .dept-form tbody > tr > td:nth-of-type(1)> input{
    border : none;
    outline : none;
}
.dept-container .dept-container-con .dept-form tbody > tr > td input{
    text-align : center;
    width: 50%;
   padding: 2px;
    border-radius: 4px;
}



.deptHide {
	visibility: hidden !important;
	height: 0;
}