<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/dept/deptUpdateView.css}">
  <script th:src="@{/js/dept/deptList.js}" defer></script>

  <title>Document</title>

</head>

<body>
<div id="all-container-wrap" th:replace="/common/leftWrap :: left-wrap"></div>
  <!--왼쪽 메뉴바-->
  <div class="right-wrap">
    <div class="right-menu">
      <div class="right-con">

        <div class="dept-container">
          <div class="dept-container-con">

            <div class="dept-form">

              <div class="dept-h1">
                <h2>부서 관리</h2>
              </div>



              <div class="dept-form-data">
                <table>
                  <thead>

                  <tr>
                    <th>부서번호</th>
                    <th>부서이름</th>
                    <th>부서위치</th>
                    <th>소속인원</th>
                    <th></th>
                  </tr>

                  </thead>

                  <tbody>

                  <form th:action="@{/dept/update}" method="post">
                  <div class="list-view">
                    <tr>
                      <td><input type="text" th:value="${dept.deptId}" name="deptId" id="deptId" readonly></td>
                      <td><input type="text" th:value="${dept.deptName}" name="deptName" id="deptName"></td>
                      <td><input type="text" th:value="${dept.deptLocation}" name="deptLocation" id="deptLocation"></td>
                      <td><input type="text" th:value="${dept.policeNM}"  readonly></td>
                      <td><button type="submit" id="update-btn">수정</button></td>
                    </tr>
                  </div>
                  </form>
                          <script>
                               document.getElementById("update-btn").onclick = function () {
                                 alert("부서정보가 수정되었습니다.");
                                };
                          </script>

                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>