<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/dept/deptList.css}">
    <script th:src="@{/js/dept/deptList.js}" defer></script>

    <title>Document</title>

</head>

<body>

<div id="all-container-wrap" th:replace="/common/leftWrap :: left-wrap"></div>

    <!--왼쪽 메뉴바-->
    <div class="right-wrap">
        <div class="right-menu">
            <div class="right-con">

                <div class="dept-container">
                    <div class="dept-container-con">

                        <div class="dept-form">

                            <div class="dept-h1">
                                <h2>부서 관리</h2>
                            </div>

                            <div class="dept-insert-button" sec:authorize="hasRole('ADMIN')">
                                <button type="button" class="dept-insert-btn"><img src="/img/dept/plus.png" alt="">부서 등록</button>
                            </div>

                            <div class="dept-insert deptHide">

                                <form th:action="@{/dept/insert}" method="post">
                                    <input hidden="hidden" readonly name="deptId">
                                    <ul>
                                        <li>
                                            <label for="deptName">부서명</label>
                                            <input type="text" name="deptName" id="deptName" placeholder="부서명 입력"
                                                   onfocus="this.placeholder=''" onblur="this.placeholder='부서명 입력'">
                                        </li>
                                        <li>
                                            <label for="deptLocation">부서위치</label>
                                            <input type="text" name="deptLocation" id="deptLocation" placeholder="부서위치 입력"
                                                   onfocus="this.placeholder=''" onblur="this.placeholder='부서위치 입력'">
                                        </li>
                                        <div class="insert-btn">
                                            <button type="submit" id="insert-btn">부서 등록하기</button>
                                        </div>
                                        <script>
                                               document.getElementById("insert-btn").onclick = function () {
                                                  alert("부서가 추가되었습니다.");
                                                 };
                                          </script>
                                    </ul>
                                </form>
                            </div>

                            <div class="dept-form-data">
                                <table>
                                    <thead>

                                    <tr>
                                        <th>부서 번호</th>
                                        <th>부서 이름</th>
                                        <th>부서 위치</th>
                                        <th>소속 인원수</th>
                                        <th></th>
                                    </tr>

                                    </thead>
<!--                                    <form th:action="@{dept/update}" method="post" th:object="${deptDto}">-->
                                    <tbody>

                                    <div class="list-view">
                                    <tr th:each="dept : ${deptList}">
                                        <td th:text="${dept.deptId}" ></td>
                                        <td>
                                            <a th:href="@{|/dept/detail/${dept.deptId}|}" th:text="${dept.deptName}"></a>
                                        </td>

                                        <td th:text="${dept.deptLocation}"></td>
                                        <td th:text="${dept.policeNM}"> </td>
                                        <td>
                                            <div class="dept-btn" sec:authorize="hasRole('ADMIN')">
                                            <button type="button" >
                                                <a th:href="@{|/dept/update/view/${dept.deptId}|}">수정</a></button>

                                                <form th:action="@{|/dept/delete/${dept.deptId}|}" method="post" onsubmit="return confirmDelete()">
                                                    <button type="submit" >삭제</button>
                                                </form>
                                            </div>
                                        </td>

                                    </tr>
                                    </div>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>