<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<div class="flex center date" th:if="${messages.today}" th:text="${messages.today}"></div>
<div class="msg bot flex">
    <div class="icon">
        <img th:src="@{/img/chatBot/chat.png}">
    </div>

    <div class="message">
        <!-- 사용자 연락처 기능 -->
        <th:block th:if="${messages.answer}">
            <div class="part" th:if="${messages.answer.keyword ne '연락처' or messages.answer.secondAnswer != null}">
                <p th:utext="${messages.answer.content}"></p>
            </div>
            <div th:if="${messages.answer.keyword eq '연락처'}">
                <div class="part" th:if="${messages.answer.secondAnswer != null}">
                    <p>
                        <span th:text="${messages.answer.secondAnswer.deptName}"></span>&nbsp;/&nbsp;
                        <span th:text="${messages.answer.secondAnswer.officerName}"></span>&nbsp;/&nbsp;
                        <span th:text="${messages.answer.secondAnswer.officerPhone}"></span>
                    </p>
                </div>
                <div class="part" th:if="${messages.answer.secondAnswer.officerName == null}">
                    <p>
                        존재하지 않는 경관입니다.
                    </p>
                </div>
            </div>
            <div class="time" th:text="${messages.time}">메세지 작성 시간</div>
        </th:block>

        <!--  영화 정보 조회 기능-->
        <th:block th:if="${dailyBoxOfficeData}">
            <div class="part" >
                <p th:text="${dailyBoxOfficeData.boxOfficeResult.showRange}"></p>
            </div>
            <div>
                <div class="part" th:each="eachMovie : ${dailyBoxOfficeData.boxOfficeResult.dailyBoxOfficeList}">
                    <p>
                        <span th:text="${eachMovie.rnum}"></span>&nbsp;
                        <span th:text="${eachMovie.movieNm}"></span>&nbsp;
                        <span th:text="${eachMovie.openDt}"></span>
                    </p>
                </div>
            </div>
        </th:block>

<!--        개봉 예정작 조회-->
        <th:block th:if="${comingSoonMovieList}">
            <div class="part" >
                <p>조회하신 주의 개봉작입니다.</p>
            </div>
            <div>
                <div class="part">
                    <p th:each="eachMovie : ${comingSoonMovieList}">
                        <span th:text="${eachMovie.value}"></span>&nbsp;
                        <span th:text="${eachMovie.key}"></span>&nbsp;
                    </p>
                </div>
            </div>
        </th:block>

    </div>

</html>