<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!-- <link rel="stylesheet" href="/static/css/error.css"> -->
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<title>error</title>
<body>
  <!-- #003478 색상통일 -->
  <div class="login-container">
    <div class="login">
      <div class="header-home">
        <!-- <a href="#"><h1 class="h1">일석이조 지구대</h1></a> -->
         <a href="#"><img th:src="@{/img/logo.png}" alt=""></h1></a>
       <!-- <a href="#"><img src="/static/css/img/logo.png" alt=""></h1></a> -->
      </div>
      <div class="text">
        입력하신 정보가 존재하지 않거나 일치하지 않습니다.
      </div>
      <ul class="login-list">
          <li><a href="/idSearch">아이디찾기</a></li>
          <li><a href="/pwSearch">비밀번호찾기</a></li>
          <li><a target="_blank" href="/join">회원가입</a></li>
      </ul>
    </div>
    </div>
  </body>
  </html>