<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="/static/css/login.css"> -->
     <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
  <!-- #003478 색상통일 -->
  <div class="login-container">
    <div class="login">
      <div class="header-home">

          <a href="#"><img th:src="@{/img/logo.png}" alt=""></h1></a>
      <!-- <a href="#"><img src="/static/css/img/logo.png" alt=""></h1></a> -->
      </div>
      <div class="login-content">
        <form th:action="@{/pwSearch1}" method="post" >
          <ul>

            <li><input type="hidden" th:value="${teamDto.policeId}" name="policeId" readonly ></li>
            <li><input type="email" th:value="${teamDto.email}" name="email" readonly ></li>
            <li><input type="text" th:value="${teamDto.policeNumber}" name="policeNumber" readonly ></li>
            <li><input type="password" name="password" id="password" placeholder="새로운비밀번호 입력"></li>
              <li><input type="hidden" th:value="${teamDto.policeName}" name="policeName" id="policeName"></li>
              <li><input type="hidden" th:value="${teamDto.ranks}" name="ranks" id="ranks"></li>
              <li><input type="hidden" th:value="${teamDto.role}" name="role" id="role"></li>
              <li><input type="hidden" th:value="${teamDto.createTime}" name="createTime" id="createTime"></li>
<!--              <li><input type="hidden" th:value="${teamDto.updateTime}" name="updateTime" id="updateTime"></li>-->

          </ul>
          <div class="button">
            <button class="btn" type="submit">
              <span>변경하기</span>
            </button>
          </div>
        </form>
      </div>
      <ul class="login-list">
        <li><a target="_blank" href="/idSearch">아이디찾기</a></li>
        <li><a target="_blank" href="/login">로그인</a></li>
<!--        <li><p class="before"></p><a target="_blank" href="/join">회원가입</a></li>-->
      </ul>
    </div>
    </div>
  </body>
  </html>