@import url(/css/common/leftWrap.css);
@import url(/css/common/reset.css);

.event-wrap {
  width: 100%;
  height: auto;
  padding: 10px 10px 10px 0;
  box-sizing: border-box;
}

.event-wrap .event-container {
  width: 100%;
  height: 100%;
  background-color: #00347845;
  padding: 30px 100px 30px 30px;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  border-top: 2px solid #003478;
  border-bottom: 2px solid #003478;
  padding: 10px;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items .event-header-items {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  background-color: #003478;
  padding: 10px;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items .event-header-items .event-search {
  width: inherit;
  display: flex;
  justify-content: space-between;
}

.event-wrap .event-container .event-container-items .event-header-items .event-search .searchForm {
  display: flex;
}

.event-wrap .event-container .event-container-items .event-header-items .event-search .searchForm>form {
  width: 700px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  color: #ffffff;
}

.event-wrap .event-container .event-container-items .event-header-items .event-search .searchForm>form>input {
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items .event-header-items .event-search .searchForm>form>input:nth-child(4) {
  width: 50px;
  background-color: #ffc400;
  color: #003478;
  font-weight: bold;
  cursor: pointer;
}

.event-wrap .event-container .event-container-items .event-header-items .event-search .searchForm>form>input:nth-child(5) {
  width: 40px;
  background-color: #ffc400;
  color: #003478;
  font-weight: bold;
  cursor: pointer;
}

.event-wrap .event-container .event-container-items .event-header-items .event-search .searchForm>form .event-radio {
  width: 150px;
  padding: 5px;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items .event-header-items .event-search .searchForm .event-title {
  height: 30px;
  color: #ffffff;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items .event-header-items .event-search>a {
  width: 90px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #ffc400;
  color: #003478;
  font-weight: bold;
  font-size: small;
  border-radius: 5px;
}

.event-wrap .event-container .event-container-items .event-list {
  width: 100%;
  height: auto;
  /* height: calc(100vh - 100px); */
  /*높이는 나중에 auto로 바꿀것*/
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items .event-list .event-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 2px solid #003478;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items .event-list .event-content>ul>li {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
  border-bottom: 1px solid #dedede;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items .event-list .event-content>ul>li:nth-child(6) {
  border: none;
}

.event-wrap .event-container .event-container-items .event-list .event-content>ul>li>span:nth-child(1) {
  color: #003478;
  font-weight: bold;
}

.event-wrap .event-container .event-container-items .event-list .event-content>ul>li .location {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  width: 200px;
  text-align: end;
}

.event-wrap .event-container .event-container-items .event-list .event-content>ul>a>img {
  width: 270px;
  height: 250px;
}

.event-wrap .event-container .event-container-items .event-end-item {
  width: 50%;
}

.event-wrap .event-container .event-container-items .event-end-item .end-item-sub>a {
  width: 80px;
  height: 30px;
  background-color: #003478;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}

.event-wrap .event-container .event-container-items .event-end-item .end-item-sub {
  display: flex;
  justify-content: space-between
}

.event-wrap .event-container .event-container-items .event-end-item .pagingIndex {
  display: flex;
  justify-content: center;
  gap: 10px;
  line-height: 30px;
}

.event-wrap .event-container .event-container-items .event-end-item .pagingIndex>a>img {
  width: 18px;
}