<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>admin officer update</title>
  <link rel="stylesheet" th:href="@{/css/police/adminOfficerUpdate.css}">

</head>

<body>

  <div id="all-container-wrap" th:replace="/common/leftWrap :: left-wrap"></div>
  <!--왼쪽 메뉴바-->

  <!--오른쪽 컨테이너-->
  <div class="right-wrap">
    <div class="right-menu">
      <div class="right-con">
        <div class="mypage-container">
          <div class="mypage-container-con">

            <div class="mypage-table">


              <div class="table-logo">
                <h1>사원 정보</h1>

              </div>

              <h3>기본 정보</h3>
              <div class="mypage-basicInfo">

                <div class="basicInfo-left">
                  <ul>
                    <li>이름</li>
                    <li>휴대 전화번호</li>
                    <li>이메일</li>
                    <li>주소</li>
                  </ul>
                </div>


                <div class="basicInfo-right">
                  <ul>
                    <li><input type="text" th:value="${police.policeName}" name="policeName" id="policeName" readonly>
                    </li>
                    <li><input type="text" th:value="${police.policePhone}" name="policePhone" id="policePhone"
                        readonly></li>
                    <li><input type="text" th:value="${police.email}" name="email" id="email" readonly></li>
                    <li><input type="text" th:value="${police.zip_code}" th:field="${police.zip_code}" size="8"
                        readonly></li>
                    <li><input type="text" th:value="${police.policeAddress}" th:field="${police.policeAddress}"
                        size="50" readonly></li>
                    <li><input type="text" th:value="${police.DetailAddress}" th:field="${police.DetailAddress}"
                        size="50" readonly></li>
                    <form th:action="@{|/police/list/delete/${police.policeId}|}" method="post">
                      <div class="btn">
                        <button type="submit" id="deletebtn">사원 해임</button>
                      </div>
                    </form>
                    <script>
                      document.getElementById("deletebtn").onclick = function () {
                        alert("사원 정보가 삭제되었습니다.");
                      };
                    </script>

                  </ul>
                </div>
              </div>
              <h3>회사 정보</h3>
              <div class="mypage-companyInfo">

                <div class="companyInfo-left">
                  <ul>
                    <li>소속</li>
                    <li>사번</li>
                    <li>직급</li>
                    <li>입사 날짜</li>
                    <li>계정 비밀번호</li>
                  </ul>
                </div>


                <div class="companyInfo-right">
                  <form th:action="@{/police/update}" method="post" th:object="${policeDto}">

                    <ul>
                      <li>
                        <select th:field="${police.dept}" name="dept">
                          <option th:each="dept : ${deptList}" th:value="${dept.deptId}" th:text="${dept.deptName}">
                          </option>
                        </select>
                      </li>
                      <li><input type="text" th:value="${police.policeNumber}" th:field="${police.policeNumber}"
                          name="policeNumber"></li>
                      <li>
                        <select th:field="${police.ranks}" name="ranks">
                          <option th:value="순경">순경</option>
                          <option th:value="경위">경위</option>
                          <option th:value="경감">경감</option>
                        </select>
                      </li>
                      <li><input type="text" th:value="${police.createTime}" th:field="${police.createTime}" readonly>
                      </li>
                      <li><input type="text" name="password"></li>
                      <li><input type="hidden" th:value="${police.policeId}" th:field="${police.policeId}"></li>
                      <div class="btn2">
                        <button type="submit" id="updatebtn">직책 변경</button>
                      </div>

                      <script>
                        document.getElementById("updatebtn").onclick = function () {
                          alert("인사 정보가 수정되었습니다.");
                        };
                      </script>
		<li><input type="hidden" th:value="${police.role}" th:field="${police.role}"></li>
                      <li><input type="hidden" th:value="${police.policeName}" th:field="${police.policeName}"></li>
                      <li><input type="hidden" th:value="${police.policePhone}" th:field="${police.policePhone}"></li>
                      <li><input type="hidden" th:value="${police.email}" th:field="${police.email}"></li>
                      <li><input type="hidden" th:value="${police.zip_code}" th:field="${police.zip_code}"></li>
                      <li><input type="hidden" th:value="${police.policeAddress}" th:field="${police.policeAddress}">
                      </li>
                      <li><input type="hidden" th:value="${police.DetailAddress}" th:field="${police.DetailAddress}">
                      </li>
		
                    </ul>
                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--오른쪽 컨테이너-->
  </div>

</body>

</html>