<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Officer Insert</title>
  <link rel="stylesheet" th:href="@{/css/police/officerInsert.css}">
</head>

<body>

  <div id="all-container-wrap" th:replace="/common/leftWrap :: left-wrap"></div>
  <!--왼쪽 메뉴바-->

  <!--오른쪽 컨테이너-->
  <div class="right-wrap">
    <div class="right-menu">
      <div class="right-con">
        <div class="Pinsert-container">
          <div class="Pinsert-container-con">
            <div class="Pinsert-form">
              <h1>사원 등록</h1>
              <form th:action="@{/police/insert}" method="post">
                <div class="insert-form">
                  <div class="insert-text">
                    <ul>
                      <li class="li1">사원번호
                        <input type="text" th:field="${police.policeNumber}" id="policeNumber" placeholder="사원 번호"
                          size="100">
                      </li>
                      <li class="li1">사원 이름
                        <input type="text" th:field="${police.policeName}" id="policeName" placeholder="사원 이름"
                          size="100">
                      </li>
                      <!-- <li class="li1"> 부서
                                <input type="text" placeholder="부서명" size="100" maxlength="20">
                            </li> -->
                      <li class="li1"> 비밀번호
                        <input type="password" th:field="${police.password}" id="password" placeholder="비밀번호" size="100"
                          maxlength="18">
                      </li>
                      <li class="li1"> 이메일
                        <input type="text" th:field="${police.email}" id="email" placeholder="이메일" size="100">
                      </li>
                      <li class="li1"> 핸드폰 번호
                        <input type="text" th:field="${police.policePhone}" id="policePhone" placeholder="핸드폰 번호"
                          size="100" maxlength="20">
                      </li>
                    </ul>
                  </div>

                  <div class="dept">
                    <label for="#">부서</label>
                    <select th:field="${police.dept}">
                      <option value="">부서 선택...</option>
                      <option th:each="dept : ${deptList}" th:value="${dept.deptId}" th:text="${dept.deptName}">
                      </option>
                    </select>
                  </div>

                  <div class="rank">
                    <label for="#">직급</label>
                    <select th:field="${police.ranks}" id="ranks">
                      <option th:value="직급">직급 선택...</option>
                      <option th:value="순경">순경</option>
                      <option th:value="경위">경위</option>
                      <option th:value="경감">경감</option>
                    </select>
                  </div>

                  <div class="adrress-box">
                    <label for="#">주소</label>
                    <div class="adrress">
                      <input type="text" id="sample4_postcode" th:field="${police.zip_code}" placeholder="우편번호">
                      <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                      <input type="text" id="sample4_roadAddress" th:field="${police.policeAddress}" placeholder="도로명주소"
                        size="30">
                      <span id="guide" style="color:#999;display:none"></span>
                      <input type="text" id="sample4_detailAddress" th:field="${police.DetailAddress}"
                        placeholder="상세주소" size="30">
                    </div>
                    <div class="role">
                      <label for="#">계정 권한</label>
                      <select th:field="${police.role}" id="role">
                        <option th:value="직급">권한 선택...</option>
                        <option th:value="ADMIN">관리자</option>
                        <option th:value="MEMBER">사원</option>
                      </select>
                    </div>
                  </div>
                  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
                  <script>

                    function sample4_execDaumPostcode() {
                      new daum.Postcode({
                        oncomplete: function (data) {
                          var roadAddr = data.roadAddress; // 도로명 주소 변수
                          var extraRoadAddr = ''; // 참고 항목 변수
                          if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                            extraRoadAddr += data.bname;
                          }
                          if (data.buildingName !== '' && data.apartment === 'Y') {
                            extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                          }
                          if (extraRoadAddr !== '') {
                            extraRoadAddr = ' (' + extraRoadAddr + ')';
                          }
                          document.getElementById('sample4_postcode').value = data.zonecode;
                          document.getElementById("sample4_roadAddress").value = roadAddr;
                          // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                          if (roadAddr !== '') {
                            document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                          } else {
                            document.getElementById("sample4_extraAddress").value = '';
                          }

                          var guideTextBox = document.getElementById("guide");
                          // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                          if (data.autoRoadAddress) {
                            var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                            guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                            guideTextBox.style.display = 'block';

                          } else if (data.autoJibunAddress) {
                            var expJibunAddr = data.autoJibunAddress;
                            guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                            guideTextBox.style.display = 'block';
                          } else {
                            guideTextBox.innerHTML = '';
                            guideTextBox.style.display = 'none';
                          }
                        }
                      }).open();
                    }
                  </script>

                  <!-- <div class="officer-img">
        <img src="/static/img/worker.png" alt="#">
    </div> -->
                  <div class="button-class">
                    <button type="submit" value="" id="insertbtn">사용자 추가</button>
                  </div>
                  <script>
                    document.getElementById("insertbtn").onclick = function () {
                      alert("사원(사용자)이 추가되었습니다.");
                    };
                  </script>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--오른쪽 컨테이너-->
  </div>

</body>

</html>