<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Officer List</title>
  <link rel="stylesheet" th:href="@{/css/police/officerList.css}">
</head>

<body>

<div id="all-container-wrap" th:replace="/common/leftWrap :: left-wrap"></div>
<!--왼쪽 메뉴바-->

<!--오른쪽 컨테이너-->
<div class="right-wrap">
  <div class="right-menu">
    <div class="right-con">
      <div class="officerList-container">
        <div class="officerList-container-con">

          <div class="List-form">
            <h1>직원 목록</h1>

            <form th:action="@{/police/list}" method="get">
              <div class="search-box">
                <div class="search-con">
                  <input type="text" placeholder="이름을 입력해주세요" id="search" name="search">
                  <button type="submit">검색</button>
                </div>
              </div>
            </form>

            <div class="List-column">
              <ul>
                <li></li>
                <li>사번</li>
                <li>이름</li>
                <li>연락처</li>
                <li></li>
              </ul>
            </div>

            <div class="List-info">
              <ul th:each="police : ${pageList}">
                <li><img th:src="@{/img/worker.png}" alt="#"></li>
                <li th:text="${police.policeNumber}"></li>
                <li th:text="${police.policeName}"></li>
                <li th:text="${police.policePhone}"></li>
                <li><a sec:authorize="hasRole('ADMIN')" th:href="@{|/police/list/${police.policeId}|}">직원수정</a></li>
              </ul>
            </div>
            <div class="page-box">

              <div class="paging">
                <a th:href="${pageList.first} ? '#' : @{/police/list(page=${pageList.number-1})}">이전</a>
                <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
                  <input type="text" th:value="${pageList.number}" hidden="hidden" >
                  <span th:if="${page == nowPage}" th:text="${page}" th:classappend="class1"> </span>
                  <span th:unless="${page == nowPage}" class="class1">
                    <a class="pagingNum" th:href="@{/police/list(page=${page-1})}" th:text="${page}"></a>
                    </span>
                </th:block>
                <a th:href="${pageList.last} ? '#' : @{/police/list(page=${pageList.number+1})}">다음</a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!--오른쪽 컨테이너-->
</div>

</body>

</html>