@import url(/static/css/common/reset.css);
@import url(/static/css/index.css);
.inquiryContainer {
	width: 100%;
	height: 100%;
	/* border: 1px solid; */
	box-sizing: border-box;
	padding: 30px 80px 30px 30px;
}
.inquiryContainer .inquiryTable {
	width: 100%;
	height: 100%;
	/* border: 1px solid;
	box-sizing: border-box; */
}
.inquiryContainer .inquiryTable  {
	width: auto;
	height: 100%;
	border-top: 2px solid #003478;
	border-bottom: 2px solid #003478;
	box-sizing: border-box;
	/* margin: 0 15px; */
	padding: 10px 10px;
	background-color: #ffffff;
}
.inquiryContainer .inquiryTable  .inquiry-box {
	display: flex;
	flex-direction: column;

	/* gap: 5px; */
}
.inquiryContainer .inquiryTable  .inquiry-box .box-top {
	width: 100%;
	height: auto;
	background-color: #003478;
	color: #ffffff;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}
.inquiryContainer .inquiryTable  .inquiry-box .box-middle {
	/* width: 100%; */
	margin: 10px 0;
	display: flex;
	flex-direction: column;
}
.inquiryContainer .inquiryTable  .inquiry-box .box-middle .box-con {
	width: 100%;
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

/* 테이블의 각 row의 문자에 대해, 위치 지정 */
.inquiryData{
	text-align: center;
}

.inquiryData:nth-child(2){
	text-align: start;
}