<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>일석이조 지구대 :: 사건등록</title>
  <link rel="stylesheet" href="/static/css/">
</head>
<body>
  <div class="event-wrap">
    <div class="event-container">
      <div class="event-container-items">

        <div class="event-header-items">
          <h2 class="event-title">사건등록</h2>
        </div>

        <div class="event-regist">
          <form action="#">
            <h3 class="warning">※신중히, 정확히 기입하십시오.</h3>
            <input type="text" name="" id="" hidden>
            사건현장<input type="file" name="" id="">
            사건장소<input type="text" name="" id="">
            발생일시<input type="datetime-local" name="" id="">
            사건분류<select name="" id=""></select>
            <label for="1">
              <input type="radio" name="eventSettle" id="1">해결
            </label>
            <label for="0">
              <input type="radio" name="eventSettle" id="0">미해결
            </label>
            <input type="submit" value="등록">
          </form>
        </div>

      </div>
    </div>
  </div>
</body>
</html>