<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>일석이조 지구대 :: 사건등록</title>
  <link rel="stylesheet" th:href="@{/css/event/eventRegister.css}">
  <script type="text/javascript"
    th:src="@{//dapi.kakao.com/v2/maps/sdk.js?appkey=777886c1044b0589356709d34fc3254c&libraries=services,clusterer,drawing}"></script>
  <script th:src="@{/js/event/kakaoMap.js}" defer></script>
  <script th:src="@{/js/event/eventRegister.js}" defer></script>
</head>

<body>
  <div id="all-container-wrap">

    <div th:replace="/common/leftWrap :: left-wrap"></div>

    <div class="event-wrap">
      <div class="event-container">
        <div class="event-container-items">

          <div class="event-header-items">
            <h2 class="event-title">사건등록</h2>
          </div>

          <div class="event-regist">
            <form th:action="@{/event/register}" method="post" th:object="${eventDto}" enctype="multipart/form-data">
              <ul>

                <div class="warning">
                  <h3>※ 신중하고 정확하게 기입하시오.</h3>
                </div>

                <li>
                  <span>사건현장</span><input type="file" th:field="*{eventFile}">
                </li>
                <li>
                  <span>사건장소</span>
                  <button type="button" class="map-open"><img th:src="@{/img/event/map.png}" alt="map-icon"></button>
                  <input type="text" id="eventLocation" th:field="*{eventLocation}" readonly>

                  <div class="map-wrap hidden">
                    <button type="button" class="map-close"><img th:src="@{/img/event/map-close.png}" alt="close-icon">
                      <span>CLOSE</span></button>
                    <div id="map">
                    </div>
                  </div>

                  <div th:if="${#fields.hasErrors('eventLocation')}" th:errors="*{eventLocation}" class="error"></div>
                </li>

                <li>
                  <span>발생일시</span><input type="datetime-local" th:field="*{eventDate}" value="yyyy-MM-dd HH:mm">
                  <div th:if="${#fields.hasErrors('eventDate')}" th:errors="*{eventDate}" class="error"></div>
                </li>

                <li>
                  <span>사건분류</span>
                  <select th:field="*{eventGroup}" required>
                    <option value="">::정확하게 선택하시오::</option>
                    <option th:each="group : ${eventGroup}" th:value="${group.eventGroupId}"
                      th:text="${group.eventGroupName}"></option>
                  </select>
                </li>
                <li>
                  <span>담당경관</span>
                  <span th:text="${police.policeName}"></span>
                  <input type="text" th:value="${police.policeId}" id="police" name="police" readonly hidden>
                </li>
                <li>
                  <span>담당부서</span>
                  <span th:text="${police.dept.deptName}"></span>
                  <input type="text" th:value="${police.dept.deptId}" id="dept" name="dept" readonly hidden>
                </li>
                <li>
                  <span>관련인</span>
                  <select th:field="*{person}" required>
                    <option value="">::정확하게 선택하시오::</option>
                    <option th:each="person : ${person}" th:value="${person.personId}" th:text="${person.personName}">
                  </select>
                </li>
                <li>
                  <span>구분</span>
                  <label for="1">
                    <input type="radio" th:field="*{eventSettle}" name="eventSettle" id="1" value="1"> 해결
                  </label>
                  <label for="0">
                    <input type="radio" th:field="*{eventSettle}" name="eventSettle" id="0" value="0"> 미해결
                  </label>
                  <div th:if="${#fields.hasErrors('eventSettle')}" th:errors="*{eventSettle}" class="error"></div>
                </li>

                <li class="textarea">
                  <span>상세사항</span>
                  <textarea th:field="*{eventNote}" name="" id="" cols="36" rows="4" resize="none"></textarea>
                </li>
                <li class="event-btns">
                  <a th:href="@{/event/}">취소</a>
                  <div class="event-btns-sub">
                    <input type="reset" value="초기화">
                    <input type="submit" value="등록">
                  </div>
                </li>
              </ul>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>

</html>