<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>관리자 페이지</title>
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link rel="stylesheet" th:href="@{/css/chatbot/chatbot.css}">
  <script src="/js/index/Index.js" defer></script>
  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js}" defer></script>
  <script th:src="@{/js/chatbot/chat.js}" defer></script>
</head>

<body>

  <div id="all-container-wrap" th:replace="/common/leftWrap :: left-wrap"></div>
  <!--왼쪽 메뉴바-->

  <!--오른쪽 컨테이너-->
  <div class="right-wrap">
    <div class="right-menu">
      <div class="right-con">

        <div class="main-container">
          <div class="myMenuContainer">
            <button type="button" class="myMenuBtn"><img src="/img/menu.png" alt="">마이메뉴</button>
          </div>

          <div class="myMenuContainer-content">
            <ul>
              <!-- 출근누르면 업무종료로 변경 -->
              <li><a href="#" id="workStatusCon"><img src="/img/stamp.png" alt="">
                  <div id="workStatus">업무 시작</div></a></li>
              <li><a href="#"><img src="/img/user.png" alt="">내 정보</a></li>
              <li><a href="#"><img src="/img/clock.png" alt="">출결 관리</a></li>
            </ul>
            <ul>
              <li><a th:href="@{/memo/all}"><img src="/img/drawer.png" alt="">결재문서</a></li>
              <li><a href="#"><img src="/img/clipboard.png" alt="">업무 관리</a></li>
              <li><a th:href="@{/board}"><img src="/img/megaphone.png" alt="">게시판 관리</a></li>
            </ul>
	 <ul>
              <li><a th:href="@{/my/schedule}"><img src="/img/myCalendar.png" alt="">나의 일정</a></li>
              <li></li>
              <li></li>
            </ul>

          </div>

          <div class="main">
            <div class="main-grid">
              <ul>
                <li>
                  <div class="first-container">
                    <div class="logo">
                      <h3>오늘 일정</h3>
                      <h5 th:text="${today}"></h5>
                    </div>

                    <div class="today-works" th:each=" work : ${works}">
                      <p th:text="${work.content}" class="detail">일정내용</p>
                      <p th:text="${#dates.format(work.start, 'MM/dd HH:mm')} + ' ~ ' + ${#dates.format(work.end, 'MM/dd HH:mm')}"
                         class="start"></p>
                    </div>

                  </div>
                </li>

                <li>
                  <div class="first-container">
                    <div class="logo">
                      <h3>결재문서 수신함</h3>
                      <h5 th:text="${today}"></h5>
                    </div>

                    <div class="today-works" th:each=" memo : ${receivedMemorandumDtoPage}">
                      <a th:href="@{|/memo/memoDetail/${memo.memorandumId}|}"
                         th:text="${memo.memorandumTitle}">받은 메일</a>
                      <p th:text="${#temporals.format(memo.createTime, 'yyyy-MM-dd HH:mm')}" class="start"></p>
                    </div>

                  </div>
                </li>
                <li></li>
                <li>
                  <div class="first-container">
                    <div class="logo">
                      <h3>오늘의 사건</h3>
                      <h5 th:text="${today}"></h5>
                    </div>

                    <div class="today-event" th:each="event : ${event}">
                      <!--오늘 일어난 사건만-->
                      <p th:text="${event.eventGroupName}">사건분류</p>
                      <p th:text="${event.eventLocation}" class="info">사건발생장소</p>
                      <p th:text="*{#temporals.format(event.eventDate, 'HH:mm')}" class="info">시간</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="first-container">
                    <div class="logo">
                      <h3>오늘의 공지사항</h3>
                      <h5 th:text="${today}"></h5>
                    </div>

                    <div class="today-board" th:each="board : ${board}">
                      <!--오늘 일어난 사건만-->
                      <p th:text="${board.boardTitle}"></p>
                      <p th:text="*{#temporals.format(board.createTime, 'yyyy-MM-dd')}" class="info"></p>
                    </div>
                  </div>
                </li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="wrap">
        <img src="/img/chatBot/chatBot.png" alt="" id="btn-chat-open" onclick="openChat()">
        <img src="/img/chatBot/speech.png" alt="" id="speech-bubble">
        <th:block th:insert="~{chatbot/chat-bot::#chat-disp}" />
      </div>
    </div>
  </div>
  <!--오른쪽 컨테이너-->
  </div>

</body>

</html>