<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/board/boardWrite.css">
  <title>게시글 등록</title>
</head>

<body>

<div id="all-container-wrap" th:replace="/common/leftWrap :: left-wrap"></div>
    <!--왼쪽 메뉴바-->

    <!--오른쪽 컨테이너-->
    <div class="right-wrap">
      <div class="right-menu">
        <div class="right-con">

          <!--오른쪽 컨테이너-->

          <div class="boardWrite-container">
            <div class="boardWrite">

              <form th:action="@{/boardWrite}" method="post" class="write-form" th:object="${boardDto}">
                <div class="write-box">
                  <div class="box-top">
                    <h3><img src="/img/board/megaphone.png" alt="">게시글 등록</h3>
                  </div>
                  <div class="box-middle">
                    <div class="box-con">
                      <label th:for="boardTitle">제목</label>
                      <input type="text" th:field="*{boardTitle}" placeholder="제목을 입력해주세요" onfocus="this.placeholder=''"
                        onblur="this.placeholder='제목을 입력해주세요'">
                    </div>
                    <div class="box-con">
                      <label th:for="boardContent">내용</label>
                      <textarea th:field="*{boardContent}" rows="37" placeholder="내용을 입력해주세요"
                        onfocus="this.placeholder=''" onblur="this.placeholder='내용을 입력해주세요'"></textarea>
                    </div>
                    <div class="box-con">
                      <label th:for="boardWriter">등록자</label>
                      <input type="text" th:value="${policeName}" name="boardWriter" readonly>
                    </div>
                  </div>
                  <div class="box-bottom">
                    <div class="button-left">
                      <button><a th:href="@{/board}"><img src="/img/board/list.png" alt=""> 목록</a></button>
                    </div>
                    <div class="button-right">
                      <input hidden="hidden" name="key" value="true">
                      <button type="submit">글등록</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>