@import url(/static/css/common/reset.css);

.event-wrap {
  width: 100%;
  height: auto;
  padding: 10px 10px 10px 0;
  box-sizing: border-box;
}

.event-wrap .event-container {
  width: 100%;
  height: 100%;
  background-color: rgb(241, 243, 245);
  padding: 20px 20px;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  border-top: 2px solid #003478;
  border-bottom: 2px solid #003478;
  padding: 10px;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items .event-header-items {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  background-color: #003478;
  padding: 10px;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items .event-header-items .event-search>form {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  color: #ffffff;
}

.event-wrap .event-container .event-container-items .event-header-items .event-search>form>input {
  height: 30px;
  border: 2px solid #ffc400;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items .event-header-items .event-search>form>input:nth-child(4) {
  width: 50px;
  background-color: #ffc400;
  color: #003478;
  font-weight: bold;
  cursor: pointer;
}

.event-wrap .event-container .event-container-items .event-header-items .event-search>form>input:nth-child(5) {
  width: 40px;
  background-color: #ffc400;
  color: #003478;
  font-weight: bold;
  cursor: pointer;
}

.event-wrap .event-container .event-container-items .event-header-items .event-search>form .event-radio {
  padding: 10px;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items .event-header-items .event-title {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 200px 0; */
  color: #ffffff;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items .event-list {
  width: 100%;
  height: calc(100vh - 100px);
  /*높이는 나중에 auto로 바꿀것*/
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  /* border: 1px solid #ff8800; */
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items .event-list .event-content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 2px solid #003478;
  box-sizing: border-box;
}

.event-wrap .event-container .event-container-items .event-pagingIndex {
  height: 20px;
  /*임시 높이(나중에 뺄 것)*/
  display: flex;
  justify-content: center;
}