<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="/static/css/login.css">-->
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
  <!-- #003478 색상통일 -->
  <div class="login-container">
    <div class="login">
      <div class="header-home">

         <a href="#"><img th:src="@{/img/logo.png}" alt=""></h1></a>
<!--        <a href="#"><img src="/static/css/img/logo.png" alt=""></h1></a>-->
      </div>
      <div class="login-content">
        <ul>
          <li><input type="text" name="email" id="email" th:value="${teamDto.email}" readonly></li>
        </ul>
          <ul>
            <li><input type="number" name="policeNumber" id="policeNumber"  th:value="${teamDto.policeNumber}" readonly></li>
          </ul>
      </div>
      <ul class="login-list">
        <li><p class="before"></p><a target="_blank" href="/pwSearch">비밀번호찾기</a></li>
<!--        <li><p class="before"></p><a target="_blank" href="/join">회원가입</a></li>-->
      </ul>
    </div>
    </div>
  </body>
  </html>