<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>-->
    <script src="/js/APIs/KobisMovieAPI.js" defer></script>

</head>
<body>
    <h1>영화진흥원</h1>
    <div class="screen-con">
        <div class="menu">
            <button class="screen-title-btn" type="button">영화 제목 조회</button>
            <button class="screen-box-btn" type="button">박스오피스</button>
            <button class="screen-detail-btn" type="button">영화 상세 조회</button>
            <button class="screen-list-btn" type="button">추가 내용</button>
            <button class="screen-list-btn" type="button">추가 내용</button>
            <button class="screen-list-btn" type="button">추가 내용</button>
        </div>

        <div class="movie-content">
            
            
        </div>
    </div>
</body>
</html>