@import url(/css/common/leftWrap.css);
@import url(/css/common/reset.css);
.boardDetail-container {
	width: 100%;
	height: 100%;
	/* border: 1px solid; */
	box-sizing: border-box;
	padding: 30px 100px 30px 30px;
}
.boardDetail-container .boardDetail {
	width: 100%;
	height: 100%;
	/* border: 1px solid;
	box-sizing: border-box; */
}
.boardDetail-container .boardDetail .detail-box {
	width: auto;
	height: 100%;
	border-top: 2px solid #003478;
	border-bottom: 2px solid #003478;
	box-sizing: border-box;
	/* margin: 0 15px; */
	padding: 10px 10px;
	background-color: #ffffff;
}
.boardDetail-container .boardDetail .detail-box .box-top {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	background-color: #003478;
	color: #ffffff;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}
.boardDetail-container .boardDetail .detail-box .box-top h3 {
	display: flex;
	justify-content: center;
	gap: 5px;
}
.boardDetail-container .boardDetail .detail-box .box-top h3 img {
	transform: translateY(-1px);
	width:24px;
}
.boardDetail-container .boardDetail .detail-box .box-middle {
	width: 100%;
	height: 595px;
	padding: 20px;
	box-sizing: border-box;
}
.boardDetail-container .boardDetail .detail-box .box-middle table {
	width: 100%;
	height: auto;
	border-collapse: collapse;
}
.boardDetail-container .boardDetail .detail-box .box-middle thead {
	width: 100%;
	height: auto;
}
.boardDetail-container .boardDetail .detail-box .box-middle thead tr {
	background-color: #cccccc85;
	border-bottom: 2px solid #55555552;
	box-sizing: border-box;
}
.boardDetail-container .boardDetail .detail-box .box-middle thead tr td {
	height: auto;
	padding: 15px 10px;
	box-sizing: border-box;
	margin: 10px 0;
	font-size: 20px;
	font-weight: bold;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-middle
	thead
	tr
	td
	span{
	display: inline-block;
	}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-middle
	thead
	tr
	td
	span
	img {
	transform: translateY(4px);
	width:24px;
}
.boardDetail-container .boardDetail .detail-box .box-middle tbody > tr {
	width: 100%;
	height: auto;
}
.boardDetail-container .boardDetail .detail-box .box-middle tbody > tr > th {
	background-color: #cccccc38;
	border-bottom: 1px solid #55555552;
	box-sizing: border-box;
	padding: 5px 10px;
	text-align: left;
}
.boardDetail-container .boardDetail .detail-box .box-middle tbody > tr > td {
	border-bottom: 1px solid #55555552;
	box-sizing: border-box;
	padding: 5px 10px;
	text-align: left;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-middle
	tbody
	tr:nth-child(3)
	td {
	border: none;
	padding: 20px;
	box-sizing: border-box;
	margin-top: 20px;
}
.boardDetail-container .boardDetail .detail-box .box-bottom {
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.boardDetail-container .boardDetail .detail-box .box-bottom .button {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	gap: 10px;
}
.boardDetail-container .boardDetail .detail-box .box-bottom .button{
  height: fit-content;
}
.boardDetail-container .boardDetail .detail-box .box-bottom .button button a {
	width: 60px;
	display: block;
	padding: 3px;
	box-sizing: border-box;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
}
button {
	border: none;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.button
	button:nth-child(1)
	a {
	background-color: #f8bf00;
	color: #ffffff;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.button
	button:nth-child(2)
	a {
	background-color: #ad0000;
	color: #ffffff;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.button
	button:nth-child(3)
	a {
	background-color: #003478;
	color: #ffffff;
	display: flex;
  justify-content: center;
  gap: 3px;
}
.boardDetail-container .boardDetail .detail-box .box-bottom .button a img {
	width: 15px;
	height: auto;
	transform: translateY(1px);
}
.boardDetail-container .boardDetail .detail-box .box-bottom .reply {
	width: 100%;
	height: auto;
}
.boardDetail-container .boardDetail .detail-box .box-bottom .reply .reply-con {
	width: 100%;
	height: auto;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.reply-box {
	width: 100%;
	height: auto;
	border: 4px solid #55555552;
	padding: 30px 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.reply-box
	.reply-btn {
	width: 100px;
	height: auto;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.reply-box
	.reply-btn
	button {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	letter-spacing: 2px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 3px;
	cursor: pointer;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box {
	width: 100%;
	height: auto;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-list
	ul {
	width: 50%;
	height: auto;
	margin-top: 40px;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-list
	ul
	li {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #55555552;
	margin-top: 10px;
	font-size: 14px;
	position: relative;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-list
	ul
	li
	.writer {
	display: inline-block;
	margin-right: 10px;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-list
	ul
	li
	.date {
	display: inline-block;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-list
	ul
	li
	.message {
	margin: 10px 0;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-list
	ul
	li
	.button-group {
	display: inline-block;
	margin-left: 10px;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-list
	ul
	li
	.button-group
	button {
	padding: 5px;
	border-radius: 3px;
	font-weight: bold;
	cursor: pointer;
	font-size: 12px;
}

.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-list
	ul
	li
	.button-group
	button
	img {
	transform: translateY(3px);
	    width: 16px;
      display: inline-block;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-list
	ul
	li
	.button-group
	.reply-update {
	position: absolute;
	left: 0;
	/* transform: translateY(6px); */
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-list
	ul
	li
	.button-group:nth-child(2){
display: flex;
	}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-list
	ul
	li
	.button-group
	.reply-update
	form
	input:nth-child(5) {
	padding: 3px 0;
	width: 617px;
	font-size: 14px;
	border: 1px solid #cccccc;
	border-radius: 3px;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-list
	ul
	li
	.button-group
	.reply-update
	form
	.comment-btn {
	display: inline-block;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-list
	ul
	li
	.button-group
	.reply-update
	form
	.updateCancel {
	display: inline-block;
	cursor: pointer;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-list
	ul
	li
	.button-group
	.reply-update
	form
	.updateCancel
	img {
	transform: translate(-2px, 7px);
}

.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-write {
	margin: 20px 0 10px 0;
	border: 1px solid #cccccc;
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;
	width: 50%;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-write
	ul {
	width: 100%;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-write
	ul
	li {
	width: 100%;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-write
	ul
	li
	input {
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-write
	ul
	li:nth-child(1)
	input {
	border-radius: 5px;
	width: 30%;
	margin-left: 14px;
	border: 1px solid #cccccc;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-write
	ul
	li:nth-child(2)
	input {
	border-radius: 5px;
	width: 91%;
	border: 1px solid #cccccc;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-write
	ul
	.comment-btn {
	display: flex;
	justify-content: flex-end;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-write
	ul
	.comment-btn
	button {
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;
	background-color: #d4d4d48c;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	.reply-write
	ul
	.comment-btn
	.writeCancel {
	transform: translate(5px, 2px);
	cursor: pointer;
}

.boardHide {
	visibility: hidden !important;
	height: 0;
}

.updateHide {
	visibility: hidden !important;
	height: 0;
}
