<!DOCTYPE html>
<html lang="en" xmlns:th=" http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>일석이조 지구대 :: 사건조회</title>
  <link rel="stylesheet" th:href="@{/css/event/eventDetail.css}">
</head>

<body>
  <div id="all-container-wrap">

    <div th:replace="/common/leftWrap :: left-wrap"></div>

    <div class="event-wrap">
      <div class="event-container">
        <div class="event-container-items">

          <div class="event-header-items">
            <h2 class="event-title">사건조회</h2>
          </div>

          <div class="event-detail-items">

            <div class="event-detail-con">
              <div class="event-image">
                <!-- <img src="https://via.placeholder.com/500x500" alt="사건현장이미지"> -->
                <img th:src="@{|/upload/${detail.eventFileName}|}" alt="사건이미지"
                  onerror="this.src='https://via.placeholder.com/500x500'">
              </div>
              <div class="event-data">
                <ul>
                  <li>
                    <span>No.</span>
                    <span th:text="${detail.eventNumber}"></span>
                  </li>
                  <li>
                    <span>장소</span>
                    <span th:text="${detail.eventLocation}"></span>
                  </li>
                  <li>
                    <span>일시</span>
                    <span th:text="*{#temporals.format(detail.eventDate, 'yyyy-MM-dd / HH:mm')}"></span>
                  </li>
                  <li>
                    <span>분류</span>
                    <span th:text="${detail.eventGroupName}"></span>
                  </li>
                  <li>
                    <span>담당부서</span>
                    <span th:text="${detail.deptName}"></span>
                  </li>
                  <li>
                    <span>담당경관</span>
                    <span th:text="${detail.policeName}"></span>
                  </li>
                  <li>
                    <span>관련인</span>
                    <span th:text="${detail.personName}"></span>
                  </li>
                  <li>
                    <span>구분</span>
                    <span th:if="${detail.eventSettle}==0">미해결</span>
                    <span th:if="${detail.eventSettle}==1">해결</span>
                  </li>
                  <li>
                    <span>상세정보</span><span th:text="${detail.eventNote}"></span>
                  </li>
                  <li class="event-settle" th:if="${detail.eventSettle}==0">
                    <span></span>
                    <a th:href="@{|/event/update/${detail.eventId}|}">사건업데이트</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>

          <a th:href="@{/event/}">돌아가기</a>

        </div>
      </div>
    </div>

  </div>
</body>

</html>