<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/memorandum/MemorandumDetail.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js" defer></script>
    <link rel="stylesheet" href="/css/memorandum/MemorandumDetail.css">
    <title>Document</title>
</head>

<body>
    <div id="all-container-wrap" th:replace="/common/leftWrap :: left-wrap"></div>
    <!--왼쪽 메뉴바-->

    <!--오른쪽 컨테이너-->
    <div class="right-wrap">
        <div class="right-menu">
            <div class="right-con">

                <!--오른쪽 컨테이너-->

                <div class="boardDetail-container">
                    <div class="boardDetail">
                        <div class="detail-box">

                            <div class="box-top">
                                <h3>결재문서 상세 내용</h3>
                            </div>

                            <div class="box-middle">
                                <table>
                                    <colgroup>
                                        <col width="15%">
                                        <col width="auto">
                                        <col width="15%">
                                        <col width="auto">
                                        <col width="auto">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <td colspan="4">
                                                <span><img src="/img/board/board.png" alt=""></span>
                                                <!--                                                    결재문서 제목-->
                                                <span th:text="${detailMemo.memorandumTitle}"></span>
                                                <!--                                                    결재 문서 ID (숨김 처리)-->
                                                <input th:value="${detailMemo.memorandumId}" hidden="hidden"
                                                    class="currentMemoId">
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>결재자</th>
                                            <th:block th:if="${approvingPoliceId eq session.currentPoliceId}">
                                                <td>
                                                    <button class="approveMemo">승인</button>
                                                    <button class="approveMemo">반려</button>
                                                </td>
                                            </th:block>
                                        </tr>
                                        <tr>
                                            <th>등록일</th>
                                            <td colspan="3"
                                                th:text="*{#temporals.format(detailMemo.createTime, 'yyyy-MM-dd HH:mm:ss')}">
                                        </tr>
                                        <tr>
                                            <th><a
                                                    th:href="@{|/memo/updateMemoPage/${detailMemo.memorandumId}|}">수정하기</a>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td><a th:href="@{|/memo/delete/${detailMemo.memorandumId}|}"
                                                    class="deletMemo"
                                                    onclick="if(!confirm('문서를 삭제하시겠습니까?')){return false;}">문서 삭제</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>첨부 파일</th>
                                            <td colspan="4">
                                                <div th:each="file : ${fileInDetailMemo}" class="FileListContainer">
                                                    <a th:href="|/memo/file/attach/${file.memorandumFileId}|"
                                                        th:text="${file.memorandumFileOriginalName}"></a>
                                                    <input hidden="hidden" th:value="${file.memorandumFileId}"
                                                        class="numberOfFile">
                                                    <button class="deleteFile">Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="box-bottom">
                                <textarea th:value="${detailMemo.memorandumContent}"
                                    th:text="${detailMemo.memorandumContent}"
                                    style="width: 100%; height: 550px; resize: none;"> </textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>