@import url(/css/common/reset.css);
@import url(/css/common/leftWrap.css);
.boardDetail-container {
	width: 100%;
	height: 100%;
	/* border: 1px solid; */
	box-sizing: border-box;
	padding: 30px 80px 30px 30px;
}
.boardDetail-container .boardDetail {
	width: 100%;
	height: 100%;
	/* border: 1px solid;
	box-sizing: border-box; */
}
.boardDetail-container .boardDetail .detail-box {
	width: auto;
	height: 100%;
	border-top: 2px solid #003478;
	border-bottom: 2px solid #003478;
	box-sizing: border-box;
	/* margin: 0 15px; */
	padding: 10px 10px;
	background-color: #ffffff;
}
.boardDetail-container .boardDetail .detail-box .box-top {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	background-color: #003478;
	color: #ffffff;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}
.boardDetail-container .boardDetail .detail-box .box-middle {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}
.boardDetail-container .boardDetail .detail-box .box-middle table {
	width: 100%;
	height: auto;
	border-collapse: collapse;
}
.boardDetail-container .boardDetail .detail-box .box-middle thead {
	width: 100%;
	height: auto;
}
.boardDetail-container .boardDetail .detail-box .box-middle thead tr {
	BACKGROUND-COLOR: #CCCCCC85;
	border-bottom: 2px solid #55555552;
	box-sizing: border-box;
}
.boardDetail-container .boardDetail .detail-box .box-middle thead tr td {
	height: auto;
	padding: 15px 10px;
	box-sizing: border-box;
	margin: 10px 0;
	font-size: 20px;
	font-weight: bold;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-middle
	thead
	tr
	td
	span
	img {
	transform: translateY(4px);
}
.boardDetail-container .boardDetail .detail-box .box-middle tbody > tr {
	width: 100%;
	height: auto;
}
.boardDetail-container .boardDetail .detail-box .box-middle tbody > tr > th {
	background-color: #cccccc38;
	border-bottom: 1px solid #55555552;
	box-sizing: border-box;
	padding: 5px 10px;
	text-align: left;
}
.boardDetail-container .boardDetail .detail-box .box-middle tbody > tr > td {
	border-bottom: 1px solid #55555552;
	box-sizing: border-box;
	padding: 5px 10px;
	text-align: left;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-middle
	tbody
	tr:nth-child(3)
	td {
	border: none;
	padding: 20px;
	box-sizing: border-box;
	margin-top: 20px;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-middle
	tbody
	tr:nth-child(4)
	td textarea{
	    	width: 100%;
	    	height: 100%;
        	padding: 3px 5px;
        	box-sizing: border-box;
        	resize: none;
	}
.boardDetail-container .boardDetail .detail-box .box-bottom {
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	gap: 50px;
}
.boardDetail-container .boardDetail .detail-box .box-bottom .button {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	gap: 10px;
}
.boardDetail-container .boardDetail .detail-box .box-bottom .button button a {
	width: 60px;
	display: block;
	padding: 3px;
	box-sizing: border-box;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
}
button {
	border: none;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.button
	button:nth-child(1)
	a {
	background-color: #f8bf00;
	color: #ffffff;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.button
	button:nth-child(2)
	a {
	background-color: #ad0000;
	color: #ffffff;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.button
	button:nth-child(3)
	a {
	background-color: #003478;
	color: #ffffff;
}
.boardDetail-container .boardDetail .detail-box .box-bottom .button a img {
	width: 15px;
	height: auto;
	transform: translateY(2px);
}
.boardDetail-container .boardDetail .detail-box .box-bottom .reply {
	width: 100%;
	height: auto;
}
.boardDetail-container .boardDetail .detail-box .box-bottom .reply .reply-con {
	width: 100%;
	height: auto;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.reply-box {
	width: 100%;
	height: auto;
	border: 4px solid #55555552;
	padding: 30px 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.reply-box
	.reply-write {
	width: 100px;
	height: auto;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.reply-box
	.reply-write
	button {
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	letter-spacing: 2px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 3px;
	cursor: pointer;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box {
	width: 100%;
	height: auto;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	ul {
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	ul
	li {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #55555552;
	margin-top: 10px;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	ul
	li
	.writer {
	display: inline-block;
	margin-right: 10px;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	ul
	li
	.date {
	display: inline-block;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	ul
	li
	.message {
	margin-top: 10px;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	ul
	li
	.button-group {
	margin: 10px 0;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	ul
	li
	.button-group
	button {
	width: 60px;
	padding: 5px 0;
	border-radius: 3px;
	font-weight: bold;
	cursor: pointer;
}
.boardDetail-container
	.boardDetail
	.detail-box
	.box-bottom
	.reply
	.reply-con
	.comment-box
	ul
	li
	.button-group
	button
	a {
	display: block;
	width: 100%;
}
