@import url(/css/common/reset.css);
@import url(/css/common/leftWrap.css);

.Pinsert-container {
  width: 100%;
  height: 100%;
  /* border: 5px solid #000; */
}

.Pinsert-container .Pinsert-container-con {
  width: 100%;
  height: 100vh;
  /* border: 5px solid #333; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pinsert-container .Pinsert-container-con .Pinsert-form {
  border-top: 3px solid #003478;
  border-bottom: 3px solid #003478;
  background-color: white;
  padding: 10px 10px;
  width: 66%;
  height: 80%;
  box-sizing: border-box;

}

.Pinsert-container .Pinsert-container-con .Pinsert-form .insert-form {
  background-color: white;
}

.Pinsert-container .Pinsert-container-con .Pinsert-form h1 {
  text-align: center;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  background-color: #003478;
}

/* .Pinsert-container .Pinsert-container-con .Pinsert-form ul{
    display: flex;
    flex-direction: column;
    
} */



.Pinsert-container .Pinsert-container-con .Pinsert-form .li1 {
  /* border: 5px solid #f0f; */
  padding: 14px;
  display: flex;
  justify-content: space-between;
  color: black;
  font-weight: bold;
  box-sizing: border-box;
}

.Pinsert-container .Pinsert-container-con .Pinsert-form .li1 input {
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  /* margin-left: 100px; */
}


.Pinsert-container .Pinsert-container-con .Pinsert-form .rank {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  /* border: 5px solid #f0f; */
  /* padding-top: 50px; */
  box-sizing: border-box;
  font-weight: bold;
}

.Pinsert-container .Pinsert-container-con .Pinsert-form .dept {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  /* border: 5px solid #f0f; */
  /* padding-top: 50px; */
  box-sizing: border-box;
  font-weight: bold;
}

.Pinsert-container .Pinsert-container-con .Pinsert-form .rank select {
  width: 75%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.Pinsert-container .Pinsert-container-con .Pinsert-form .dept select {
  width: 75%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.Pinsert-container .Pinsert-container-con .Pinsert-form .adrress-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Pinsert-container .Pinsert-container-con .Pinsert-form .adrress-box label {
  padding-left: 18px;
  font-weight: bold;
}

.Pinsert-container .Pinsert-container-con .Pinsert-form .adrress {
  padding: 20px;
  padding-top: 30px;
  box-sizing: border-box;

}

.Pinsert-container .Pinsert-container-con .Pinsert-form .adrress input {
  padding: 7px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 3px;
}

.Pinsert-container .Pinsert-container-con .Pinsert-form .button-class {
  display: flex;
  justify-content: center;

  box-sizing: border-box;
}

.Pinsert-container .Pinsert-container-con .Pinsert-form button {
  padding: 13px;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  background-color: #003478;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
}

.Pinsert-container .Pinsert-container-con .Pinsert-form .role {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  /* border: 5px solid #f0f; */
  /* padding-top: 50px; */
  box-sizing: border-box;
  font-weight: bold;
}

.Pinsert-container .Pinsert-container-con .Pinsert-form .role label {
  color: red;
  width: 50%;
  margin: 10px;

}

.Pinsert-container .Pinsert-container-con .Pinsert-form .role select {
  width: 75%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}