<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link rel="stylesheet" th:href="@{/css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body class="flex">
<header>
  <ul>
    <li>
      <a href="https://changshin.ncpworkplace.com/v/home/">네이버API연동</a>
    </li>

    <li>
      <form action="https://auth.worksmobile.com/oauth2/v2.0/authorize" method="get">
        <input type="hidden" name="client_id" value="qGBOH7ox4kxR1NI1SMag">
        <input type="hidden" name="redirect_uri" value="http://localhost:8099/naver/auth2">
        <input type="hidden" name="scope" value="directory,directory.read,orgunit,orgunit.read">
        <input type="hidden" name="response_type" value="code">
        <input type="hidden" name="state" value="test">
        <button>조직인증</button>
      </form>
    </li>

    <li>
      <form id="mail"
            onsubmit="window.open('https://mail.worksmobile.com/write/popup', '_blank', 'width=600, height=400,resizeable,scrollbars');" >
        <button>메일연동</button>
      </form>
    </li>
  </ul>
</header>
<main>

</main>
</body>
</html>
