<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/board/boardUpdate.css">
  <title>게시글 수정</title>
</head>

<body>

<div id="all-container-wrap" th:replace="/common/leftWrap :: left-wrap"></div>
    <!--왼쪽 메뉴바-->

    <!--오른쪽 컨테이너-->
    <div class="right-wrap">
      <div class="right-menu">
        <div class="right-con">

          <!--오른쪽 컨테이너-->

          <div class="boardUpdate-container">
            <div class="boardUpdate">

              <form th:action="@{/boardUpdate}" method="post" class="update-form" th:object="${boardDto}">
                <div class="update-box">
                  <div class="box-top">
                    <h3><img src="/img/board/megaphone.png" alt="">게시글 수정</h3>
                  </div>
                  <div class="box-middle">
                    <input type="hidden" name="boardId" dirname="boardId" th:value="${boardDto.boardId}">
                    <input type="hidden" name="views" dirname="views" th:value="${boardDto.views}">
                    <div class="box-con">
                      <label th:for="boardTitle">제목</label>
                      <input type="text" id="boardTitle" name="boardTitle" th:value="${boardDto.boardTitle}" placeholder="제목을 입력해주세요" onfocus="this.placeholder=''"
                        onblur="this.placeholder='제목을 입력해주세요'">
                    </div>
                    <div class="box-con">
                      <label th:for="boardContent">내용</label>
                      <textarea name="boardContent" id="boardContent" th:value="${boardDto.boardContent}" th:text="${boardDto.boardContent}" rows="37" placeholder="내용을 입력해주세요"
                        onfocus="this.placeholder=''" onblur="this.placeholder='내용을 입력해주세요'"></textarea>
                    </div>
                    <div class="box-con">
                      <label th:for="boardWriter">작성자</label>
                      <input type="text" id="boardWriter" name="boardWriter" th:value="${boardDto.boardWriter}" readonly>
                    </div>
                  </div>
                  <div class="box-bottom">
                    <div class="button-left">
                      <button><a th:href="@{/board}"><img src="/img/board/list.png" alt=""> 목록</a></button>
                    </div>
                    <div class="button-right">
                      <button type="submit">글수정</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>