<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/board/board.css">
  <title>공지게시판</title>
</head>

<body>

<div id="all-container-wrap" th:replace="/common/leftWrap :: left-wrap"></div>
    <!--왼쪽 메뉴바-->

    <!--오른쪽 컨테이너-->
    <div class="right-wrap">
      <div class="right-menu">
        <div class="right-con">

          <!--오른쪽 컨테이너-->
          <div class="board-container">
            <div class="board">
              <div class="board-box">

                <div class="box-top">
                  <h3><img src="/img/board/megaphone.png" alt="">공지게시판</h3>
                </div>

                <div class="search">
                  <div class="write-btn" >
                    <button type="submit" sec:authorize="hasRole('ADMIN')"><a th:href="@{boardWrite}"><img src="/img/board/plus.png" alt="">
                        글등록</a></button>
                  </div>
                  <div class="search-bar">
                    <form th:action="@{/board}" method="get">
                      <input type="search" name="search" id="search" placeholder="검색어를 입력해주세요"
                        onfocus="this.placeholder=''" onblur="this.placeholder='검색어를 입력해주세요'">
                      <button type="submit">검색</button>
                    </form>
                  </div>
                </div>

                <div class="box-middle">

                  <table>
                    <colgroup>
                      <col width="10%">
                      </col>
                      <col width="auto">
                      </col>
                      <col width="10%">
                      </col>
                      <col width="20%">
                      </col>
                      <col width="10%">
                      </col>
                    </colgroup>
                    <thead>
                      <tr>
                        <th>순번</th>
                        <th>제목</th>
                        <th>등록자</th>
                        <th>등록일</th>
                        <th>조회수</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="list: ${boardDtos}">
                        <td th:text="${list.boardId}"></td>
                        <td><a th:href="@{|/boardDetail/${list.boardId}/${key}|}" th:text="${list.boardTitle}"></a></td>
                        <td th:text="${list.boardWriter}"></td>
                        <td th:text="*{#temporals.format(list.createTime, 'yyyy-MM-dd')}"></td>
                        <td th:text="${list.views}"></td>
                      </tr>
                    </tbody>
                  </table>

                </div>

                <div class="box-bottom">

                  <div class="paging">
                    <a th:href="${boardDtos.first} ? '#' : @{/board(page=${boardDtos.number - 1})}"
                      class="box1 first">이전</a>
                    <th:block th:each="page: ${#numbers.sequence(startPage, endPage)}">
                      <input type="text" th:value="${boardDtos.number}" hidden="hidden" id="listNumber">
                      <span th:if="${page == nowPage}" th:text="${page}" th:classappend="class1" class="box1"
                        style="color: #ffffff; background-color: #ad0000 "></span>
                      <span th:unless="${page == nowPage}" class="box1">
                        <a class="pagingNum" th:href="@{/board(page=${page-1})}" style="color: #000000; background-color:#ffffff;
                  width: inherit; height: inherit; display:block;" th:text="${page}"></a>
                      </span>
                    </th:block>
                    <a th:href="${boardDtos.last} ? '#' : @{/board(page=${boardDtos.number + 1})}"
                      class="box1 next">다음</a>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>