@import url(/css/common/leftWrap.css);
@import url(/css/common/reset.css);
.boardWrite-container {
	width: 100%;
	height: 100%;
	/* border: 1px solid; */
	box-sizing: border-box;
	padding: 30px 100px 30px 30px;
}
.boardWrite-container .boardWrite {
	width: 100%;
	height: 100%;
	/* border: 1px solid;
	box-sizing: border-box; */
}
.boardWrite-container .boardWrite .write-form {
	width: auto;
	height: 100%;
	border-top: 2px solid #003478;
	border-bottom: 2px solid #003478;
	box-sizing: border-box;
	/* margin: 0 15px; */
	padding: 10px 10px;
	background-color: #ffffff;
}
.boardWrite-container .boardWrite .write-form .write-box {
	display: flex;
	flex-direction: column;

	/* gap: 5px; */
}
.boardWrite-container .boardWrite .write-form .write-box .box-top {
	width: 100%;
	height: auto;
	background-color: #003478;
	color: #ffffff;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}
.boardWrite-container .boardWrite .write-form .write-box .box-top h3 {
	display: flex;
	justify-content: center;
	gap: 5px;
}
.boardWrite-container .boardWrite .write-form .write-box .box-top h3 img {
	transform: translateY(-1px);
	width:24px;
}
.boardWrite-container .boardWrite .write-form .write-box .box-middle {
	/* width: 100%; */
	margin: 10px 0;
	display: flex;
	flex-direction: column;
}
.boardWrite-container .boardWrite .write-form .write-box .box-middle .box-con {
	width: 100%;
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.boardWrite-container
	.boardWrite
	.write-form
	.write-box
	.box-middle
	.box-con
	input {
	width: 100%;
	/* height: 20px; */
	padding: 3px 5px;
	box-sizing: border-box;
}
.boardWrite-container
	.boardWrite
	.write-form
	.write-box
	.box-middle
	.box-con:nth-child(2)
	input {
	width: 15%;
	/* height: 20px; */
	padding: 3px 0;
	box-sizing: border-box;
}
.boardWrite-container
	.boardWrite
	.write-form
	.write-box
	.box-middle
	.box-con
	textarea {
	width: 100%;
	padding: 3px 5px;
	box-sizing: border-box;
	resize: none;
}

.boardWrite-container .boardWrite .write-form .write-box .box-bottom {
	display: flex;
	justify-content: space-between;
	/* padding: 0 20px; */
	box-sizing: border-box;
}
.boardWrite-container
	.boardWrite
	.write-form
	.write-box
	.box-bottom
	.button-left {
	width: 60px;
	text-align: center;
}
button {
	border: none;
}
.boardWrite-container
	.boardWrite
	.write-form
	.write-box
	.box-bottom
	.button-left
	a {
	width: 100%;
	display: flex;
	padding: 3px;
	justify-content:center;
	gap:3px;
	box-sizing: border-box;
	border-radius: 3px;
	background-color: #003478;
	color: #ffffff;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
}
.boardWrite-container
	.boardWrite
	.write-form
	.write-box
	.box-bottom
	.button-left
	a:hover {
	background-color: #ffc400;
	color: #000000;
}
.boardWrite-container
	.boardWrite
	.write-form
	.write-box
	.box-bottom
	.button-left
	a
	img {
	width: 15px;
	height: auto;
	transform: translateY(1px);
}
.boardWrite-container
	.boardWrite
	.write-form
	.write-box
	.box-bottom
	.button-right
	button {
	width: 60px;
	display: block;
	padding: 3px;
	box-sizing: border-box;
	border: none;
	border-radius: 3px;
	background-color: #003478;
	color: #ffffff;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
}
.boardWrite-container
	.boardWrite
	.write-form
	.write-box
	.box-bottom
	.button-right
	button:hover {
	background-color: #ffc400;
	color: #000000;
}
