@import url(/css/common/reset.css);
@import url(/css/common/leftWrap.css);

.mypage-container {
  width: 100%;
  height: 100%;
}

.mypage-container .mypage-container-con {
  width: 100%;
  height: 100vh;
  /* border: 5px solid salmon; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-sizing: border-box; */
}

.mypage-container .mypage-container-con .mypage-table {
  width: 66%;
  height: 85%;
  padding: 10px 10px;
  box-sizing: border-box;
  border-top: 3px solid #003478;
  border-bottom: 3px solid #003478;
  /* border: 5px solid; */
  background-color: white;
  box-sizing: border-box;
}

.mypage-container .mypage-container-con .mypage-table .table-logo {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  background-color: #003478;
  color: white;
  justify-content: center;
  box-sizing: border-box;
}

.mypage-container .mypage-container-con .mypage-table h3 {
  padding: 16px;
}

.mypage-container .mypage-container-con .mypage-table .table-logo span {
  font-size: 22px;
}

.mypage-container .mypage-container-con .mypage-table .mypage-basicInfo {
  /* border: 5px solid seagreen; */
  border: 1px solid rgb(141, 130, 130);
  border-radius: 4px;
  width: 100%;
  height: 38%;
  box-sizing: border-box;
  display: flex;

}

.mypage-container .mypage-container-con .mypage-table .mypage-basicInfo .basicInfo-left {
  width: 20%;
  padding: 16px;
  background-color: rgb(192, 184, 184);

}

.mypage-container .mypage-container-con .mypage-table .mypage-basicInfo .basicInfo-left ul>li {
  border-bottom: 1px solid rgb(172, 161, 161);
  padding: 8px;
}

.mypage-container .mypage-container-con .mypage-table .mypage-basicInfo .basicInfo-right {
  width: 80%;
  padding: 16px;
}

.mypage-container .mypage-container-con .mypage-table .mypage-basicInfo .basicInfo-right ul>li>input {
  border-bottom: 1px solid rgb(172, 161, 161);
  padding: 8px;
  border: none;
  outline: none;
}

.mypage-container .mypage-container-con .mypage-table .mypage-basicInfo .basicInfo-right ul>li {
  border-bottom: 1px solid rgb(172, 161, 161);
  padding: 3px;
}

.mypage-container .mypage-container-con .mypage-table .mypage-basicInfo .basicInfo-right .btn {
  padding: 8px;

}

.mypage-container .mypage-container-con .mypage-table .mypage-basicInfo .basicInfo-right button {
  float: right;
  width: 15%;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: #003478;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo {
  /* border: 5px solid darkcyan; */
  border: 1px solid rgb(172, 161, 161);
  border-radius: 4px;
  width: 100%;
  height: 36%;
  box-sizing: border-box;
  display: flex;
}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-left {
  width: 20%;
  padding: 16px;
  background-color: rgb(192, 184, 184);

}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right ul>li>input {
  border-bottom: 1px solid rgb(172, 161, 161);
  border-radius: 3px;
  border-color: rgb(243 237 237);

  /*    border: none;
    outline: none;*/
}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right ul>li:nth-child(4) input {
  border-bottom: 1px solid rgb(172, 161, 161);
  border-radius: 3px;
  border: none;
  outline: none;
}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-left ul>li {
  border-bottom: 1px solid rgb(172, 161, 161);
  padding: 8px;
}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right {
  width: 80%;
  padding: 16px;

}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right ul>li {
  border-bottom: 1px solid rgb(172, 161, 161);
  padding: 8px;

}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right ul>li>select {
  width: 100px;
}

/*.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right .btn2{
    padding: 8px;

}*/

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right button {
  float: right;
  width: 15%;
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: #003478;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-left ul>li:nth-child(5) {
  color: red;
  font-weight: bold;
}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right ul>li:nth-child(6) {
  border: none;
}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right ul>li:nth-child(7) {
  border: none;
}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right ul>li:nth-child(8) {
  border: none;
}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right ul>li:nth-child(9) {
  border: none;
}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right ul>li:nth-child(10) {
  border: none;
}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right ul>li:nth-child(11) {
  border: none;
}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right ul>li:nth-child(12) {
  border: none;
}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right ul>li:nth-child(13) {
  border: none;
}

.mypage-container .mypage-container-con .mypage-table .mypage-companyInfo .companyInfo-right ul>li:nth-child(14) {
  border: none;
}